<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" type="image/jpg" href="favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Editar</title>
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">

    <!-- INICIO NAV-->
    <nav class="navbar navbar-expand-lg navbar-dark morado">
        <div class="container-fluid">
            <a class="navbar-brand m-l-50" href="#"><img src="/logo.png" height="50px" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav px-5">

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/inicio"> INICIO </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/registros"> REGISTROS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/crudusuario"> USUARIOS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/crudtipo"> TIPOS USUARIOS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/crudsalas"> SALAS </a>
                    </li>

                </ul>
            </div>
        </div>
        <div>

            <a class="navbar-brand" href="">
                <img src="/usuario.png" style="width: 40px; height: 40px;" alt="">
            </a>
        </div>
    </nav>
    <!-- FIN NAV-->
    
<br>

<DIV>
    <div class="text-c">
        <H1>FORMULARIO DE EDICION DE TIPO</H1>
    </div>
</DIV>




    <% if(tipo){ %>
        <div class="container mt-4">
            <div class="card border-secondary">
                <div class="card-header" id="titlecard">Editar registro</div>
                <div class="card-body">
                    <form action="/updateUserType" method="POST">
                        <input id="id" name="id" value="<%= tipo.tipo_id %>" hidden>
                        <div class="mb-3">
                            <label for="user" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= tipo.nombre %>" tabindex='1'">
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit-btn" tabindex="5">Guardar</button>
                        <a href="/crudtipo" class="btn btn-secondary" id="cancel-btn">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    <% } %>





    
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer%>
            }).then(()=>{
                window.location='/<%= ruta%>'
            })
        </script>
    <% } %>

    
    <footer class="text-center text-white" id="submit-btn" style="bottom: 0; width: 100%; margin-top: auto;">
        <div class="container p-2 pb-0">
          <div class="row">
            <div class="col-lg-6">
                <h5>Dirección de la empresa</h5>
                <p> Picarquin, Pasaje 1 - #1388 </p>
            </div>

            <div class="col-lg-6">
                <h5>Correo electrónico</h5>
                <p>gestor.salas@empresa.com </p>
            </div>

        </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright: Gestor de salas, derechos reservados
        </div>
    </footer>
    
    
</body>
</html>