<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Editar</title>
</head>
<body>

    <!-- INICIO NAV-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SALAS DE ESTUDIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav px-5">

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/inicio"> INICIO </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="registros"> REGISTROS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/crudusuario"> USUARIOS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/crudtipo"> TIPOS USUARIOS </a>
                    </li>

                </ul>
            </div>
        </div>
        <div>

            <a class="navbar-brand" href="">
                <img src="usuario.png" style="width: 40px; height: 40px;" alt="">
            </a>
        </div>
    </nav>
    <!-- FIN NAV-->


    <% if(results){ %>
        <div class="container mt-4">
            <div class="card border-secondary">
                <div class="card-header">Editar Usuario</div>
                <div class="card-body">
                    <form action="/updateUsuario" method="POST">

                        <div class="row">

                            <input id="id" name="id" value="<%= results.usuario_id %>" hidden>
                            <div class="col-md-6 col-sm-12 mt-4">
                                <input class="form-control form-control-lg" type="text" placeholder="Nombre" value="<%= results.nombre %>" id="nombre" name="nombre">
                            </div>

                            <div class="col-md-6 col-sm-12 mar">
                                <input class="form-control form-control-lg" type="text" placeholder="Rut" value="<%= results.rut %>" id="rut" name="rut" readonly>
                            </div>

                            <div class="col-md-6 col-sm-12 mt-4">
                                <input type="email" class="form-control form-control-lg" placeholder="correo@electronico.com" value="<%= results.correo %>" id="correo" name="correo" >
                            </div>

                            <div class="col-md-6 col-sm-12 mt-4">
                                
                                <select class="form-select form-control-lg" aria-label="Default select example" id="tipo" name="tipo" onchange="buenastardes()">
                                <% tipox.forEach((tipos)=>{ %>

                                    <option  <%= results.tipo_id_fk == tipos.tipo_id ? "selected" : "" %> value="<%= tipos.tipo_id %>" > <%= tipos.nombre %> </option>

                                <%})%>
                                </select>
                                
                            </div>

                            <% if(aidi[0].tipo_id_fk  == 1){ %>

                                <div id="miDiv" class="col-md-6 col-sm-12 mt-4">
                                    <label for="exampleFormControlInput1" class="form-label">Contraseña de Admin</label>
                                    <input type="password"  class="form-control form-control-lg" value="<%= results.admin_pass %>" placeholder="Contraseña" id="pass" name="pass">
                                </div>

                            <% } %>

                            <div class="row">

                                <div class="col-md-6 col-sm-12 mt-4">
                                    <button type="submit" class="btn btn-primary form-control form-control-sm" tabindex="5">Guardar</button>
                                </div>

                                <div class="col-md-6 col-sm-12 mt-4">
                                    <a href="/crudusuario" class="btn btn-secondary form-control form-control-sm">Cancelar</a>
                                </div>
                                    
                            </div>

                            


                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer%>
            }).then(()=>{
                window.location='/<%= ruta%>'
            })
        </script>
    <% } %>


        
    
        <script>

            function buenastardes(){

                const miSelect = document.getElementById('tipo');
                const divpass = document.getElementById('miDiv');
                const valorSeleccionado = miSelect.value;
                const passx = document.getElementById('pass');

                

                        if (valorSeleccionado != 1) {

                            console.log('valorSeleccionado', valorSeleccionado)
                            divpass.style.display = 'none';
                            passx.value = "";

                            
                        }else{
                            divpass.style.display = 'block'
                        }




            }










 


        </script>
</body>
</html>