<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/jpg" href="favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/main.css">
    <script src="/navbarC.js"></script>
    
    <!--FONT AWESOME -->
    <script src="https://kit.fontawesome.com/ca048bf1d7.js" crossorigin="anonymous"></script>
    
    
    <title>Editar</title>
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">

    <!-- INICIO NAV-->

    <nabin-bombin></nabin-bombin>

    <!-- FIN NAV-->
    
<br>

<DIV>
    <div class="text-c">
        <H1>FORMULARIO DE EDICION DE TIPO</H1>
    </div>
</DIV>




    <% if(tipo){ %>
        <div class="container mt-4">
            <div class="card border-secondary">
                <div class="card-header" id="titlecard">Editar registro</div>
                <div class="card-body">
                    <form action="/updateUserType" method="POST">
                        <input id="id" name="id" value="<%= tipo.tipo_id %>" hidden>
                        <div class="mb-3">
                            <label for="user" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= tipo.nombre %>" tabindex='1'">
                        </div>
                        <button type="submit" class="btn btn-primary" id="submit-btn" tabindex="5">Guardar</button>
                        <a href="/crudtipo" class="btn btn-secondary" id="cancel-btn">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    <% } %>





    
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer%>
            }).then(()=>{
                window.location='/<%= ruta%>'
            })
        </script>
    <% } %>

    
    <footer class="text-center text-white" id="submit-btn" style="bottom: 0; width: 100%; margin-top: auto;">
        <div class="container p-2 pb-0">
          <div class="row">
            <div class="col-lg-6">
                <h5>Dirección de la empresa</h5>
                <p> Picarquin, Pasaje 1 - #1388 </p>
            </div>

            <div class="col-lg-6">
                <h5>Correo electrónico</h5>
                <p>gestor.salas@empresa.com </p>
            </div>

        </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright: Gestor de salas, derechos reservados
        </div>
    </footer>
    
    
</body>
</html>