<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/main.css">
    <script src="/navbarC.js"></script>
    
    <!--FONT AWESOME -->
    <script src="https://kit.fontawesome.com/ca048bf1d7.js" crossorigin="anonymous"></script>
    
    <title>Editar</title>
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">

    <!-- INICIO NAV-->

    <nabin-bombin></nabin-bombin>

    <!-- FIN NAV-->
    
<br>

<DIV>
    <div class="text-c">
        <H1>FORMULARIO DE EDICIÓN DE USUARIOS</H1>
    </div>
</DIV>

        
    <br>


    <% if(results){ %>
        <div class="container mt-4">
            <div class="card border-secondary">
                <div class="card-header" id="titlecard">Editar Usuario</div>
                <div class="card-body">
                    <form action="/updateUsuario" method="POST">

                        <div class="row">

                            <input id="id" name="id" value="<%= results.usuario_id %>" hidden>
                            <div class="col-md-6 col-sm-12 mt-4">
                                <input class="form-control form-control-lg" type="text" placeholder="Nombre" value="<%= results.nombre %>" id="nombre" name="nombre">
                            </div>

                            <div class="col-md-6 col-sm-12 mar">
                                <input class="form-control form-control-lg" type="text" placeholder="Rut" value="<%= results.rut %>" id="rut" name="rut" readonly>
                            </div>

                            <div class="col-md-6 col-sm-12 mt-4">
                                <input type="email" class="form-control form-control-lg" placeholder="correo@electronico.com" value="<%= results.correo %>" id="correo" name="correo" >
                            </div>

                            <div class="col-md-6 col-sm-12 mt-4">
                                
                                <select class="form-select form-control-lg" aria-label="Default select example" id="tipo" name="tipo" onchange="buenastardes()">
                                <% tipox.forEach((tipos)=>{ %>

                                    <option  <%= results.tipo_id_fk == tipos.tipo_id ? "selected" : "" %> value="<%= tipos.tipo_id %>" > <%= tipos.nombre %> </option>

                                <%})%>
                                </select>
                                
                            </div>

                            <% if(aidi[0].tipo_id_fk  == 1){ %>

                                <div id="miDiv" class="col-md-6 col-sm-12 mt-4">
                                    <label for="exampleFormControlInput1" class="form-label">Contraseña de Admin</label>
                                    <input type="password"  class="form-control form-control-lg" value="<%= results.admin_pass %>" placeholder="Contraseña" id="pass" name="pass">
                                </div>

                            <% } %>

                            <div class="row">

                                <div class="col-md-6 col-sm-12 mt-4">
                                    <button type="submit" class="btn btn-primary form-control form-control-sm" id="submit-btn" tabindex="5">Guardar</button>
                                </div>

                                <div class="col-md-6 col-sm-12 mt-4">
                                    <a href="/crudusuario" class="btn btn-secondary form-control form-control-sm" id="cancel-btn">Cancelar</a>
                                </div>
                                    
                            </div>

                            


                        </div>
                    </form>
                </div>
            </div>
        </div>



            
        <footer class="text-center text-white" id="submit-btn" style="bottom: 0; width: 100%; margin-top: auto;">
            <div class="container p-2 pb-0">
              <div class="row">
                <div class="col-lg-6">
                    <h5>Dirección de la empresa</h5>
                    <p> Picarquin, Pasaje 1 - #1388 </p>
                </div>
    
                <div class="col-lg-6">
                    <h5>Correo electrónico</h5>
                    <p>gestor.salas@empresa.com </p>
                </div>
    
            </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2023 Copyright: Gestor de salas, derechos reservados
            </div>
        </footer>

    
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer%>
            }).then(()=>{
                window.location='/<%= ruta%>'
            })
        </script>
    <% } %>


        
    
        <script>

            function buenastardes(){

                const miSelect = document.getElementById('tipo');
                const divpass = document.getElementById('miDiv');
                const valorSeleccionado = miSelect.value;
                const passx = document.getElementById('pass');

                

                        if (valorSeleccionado != 1) {

                            console.log('valorSeleccionado', valorSeleccionado)
                            divpass.style.display = 'none';
                            passx.value = "";

                            
                        }else{
                            divpass.style.display = 'block'
                        }




            }


        </script>
</body>
</html>