 <% if(user) { %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script async src="camcode.js"></script>
    <script src="https://kit.fontawesome.com/ca048bf1d7.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/jpg" href="favicon.png"/>

        <!--GOOGLE FONTS -->
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Sala de estudio</title>
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
    
    <!-- INICIO NAV-->


    <nav class="navbar navbar-expand-lg navbar-dark morado" >
        <div class="container-fluid">
            <a class="navbar-brand m-l-50" href="#"><img src="logo.png" height="50px" alt=""></a>
            <button onclick="openNav()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="fa-solid fa-bars fs-1" style="color: #ffffff;"></span>

            </button>

            <div class="navbar-collapse justify-content-end" id="navbarNav" style="display: none;">

                <ul class="navbar-nav px-5">
                    

                    <li class="nav-item mx-2">
                        <a class="nav-link text-light fs-5" href="/inicio"><i class="fa-solid fa-house" style="color: #ffffff;"></i> INICIO </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link text-light fs-5" href="/registros"><i class="fa-regular fa-address-card" style="color: #ffffff;"></i> REGISTROS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link text-light fs-5" href="/crudusuario"><i class="fa-regular fa-user" style="color: #ffffff;"></i> USUARIOS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link text-light fs-5" href="/crudtipo"><i class="fa-regular fa-address-book" style="color: #ffffff;"></i> TIPOS USUARIOS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link text-light fs-5" href="/crudsalas"><i class="fa-solid fa-people-roof" style="color: #ffffff;"></i> SALAS </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link text-light fs-5" href="/crudsalas"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i> CERRAR SESION </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    
    <!-- FIN NAV-->
    <br><br><br>

    <DIV>
        <div class="text-c">
            <H1 style="font-size: 50px;">SALAS DE ESTUDIO</H1>
            <p>
                <span class="col-12" style="background-color: #0656ce; padding: 0.2em 0.8em; margin: 1em 1em; border-radius: 100%;"></span>DISPONIBLE
                <span class="col-12" style="background-color: #ffc107; padding: 0.2em 0.8em; margin: 1em 1em; border-radius: 100%;"></span>OCUPADA
                <span class="col-12" style="background-color: #dc3545; padding: 0.2em 0.8em; margin: 1em 1em; border-radius: 100%;"></span>INHABILITADO
            </p>
        </div>
    </DIV>


    <div class="container-fluid p-5">
        
        <div class="row">
            <% results.forEach((salas) => { %>
                <div class="col-md-4 col-sm-12 col-12">
                    <div class="card text-dark shadow bg-light p-3 mt-5 ">
                    
                    <% if(salas.camcode) { %>

                        <div class="camera-card" data-id="<%= salas.camcode %>">
                            <div  id="containerv_<%= salas.camcode %>"></div>
                            <input type="text" name="camcodes" id="camcodes" value="<%= salas.camcode %>" hidden>
                        </div>

                    <%} if(salas.camcode === null) {%>
                        <img width="445px" height="250px" class="card-img-top" src="https://images.wondershare.com/recoverit/article/2019/06/there-is-no-connected-camera-mac-1.jpg" alt="">
                    <%}%>

                    <div class="card-body">
                        <h5 class="card-title">Sala de estudio numero <%= salas.numero_sala %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Estado: <%= salas.estado %></h6>
                        <p class="card-text">Sala de estudio con capacidad para <%= salas.capacidad %> personas</p>
                        
                        <% if(salas.estado == 'Disponible'){ %>
                        <a href="/solicitud/<%= salas.sala_id %>" class="btn w-100 pt-2 btn-101" id="submit-btn">Solicitar sala de estudio</a>
                        <% }else if(salas.estado == 'Deshabilitada'){ %>
                        <a class="btn btn-danger w-100">Imposible Solicitar</a>
                        <% }else{%>
                            <a class="btn btn-warning w-100">Ocupada en este momento</a>
                        <% }%>
                        
                    </div>
                </div>
            </div>

            <%})%>
        </div>
    </div>

    <footer class="text-center text-white" id="submit-btn" style="bottom: 0; width: 100%; margin-top: auto;">
        <div class="container p-2 pb-0">
          <div class="row">
            <div class="col-lg-6">
                <h5>Dirección de la empresa</h5>
                <p> Picarquin, Pasaje 1 - #1388 </p>
            </div>

            <div class="col-lg-6">
                <h5>Correo electrónico</h5>
                <p>gestor.salas@empresa.com </p>
            </div>

        </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright: Gestor de salas, derechos reservados
        </div>
    </footer>


    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        } 
    </script>
    

    <!--cdn bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>

<%}else{%>
    
    <script>
        window.onload = function() {
            window.location.href = "denegado";
        };
    </script>

<%}%>
