<!DOCTYPE html>
<html lang="es">
  
<head>
  <meta charset="UTF-8">
  <title>Formulario Bootstrap</title>
  <!-- Incluir los estilos de Bootstrap -->

  <script>

import {  validate, clean, format, getCheckDigit } from 'rut.js'
     
var ruts = [];

function addelement(){

    let rut = document.getElementById('rut').value;
    let rutinput = document.getElementById('rut');
    ruts.push(rut);
    rutinput.value = "";

    let resultado = document.getElementById('resultado');
    resultado.innerHTML = '';
    var cont = 1;

    for( const ruta of ruts){


        let datoparrafo = document.createElement('input');
        let pretext = document.createElement('p');
        pretext.innerText = cont + '. Datos de ingresante: '
        datoparrafo.value = ruta;
        cont = cont + 1;

        resultado.appendChild(pretext).appendChild(datoparrafo);

    }

    let container = document.getElementById('contenedordatos');
    container.value = ruts;


}


  </script>


  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

      <!-- INICIO NAV-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">SALAS DE ESTUDIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav px-5">

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/"> INICIO </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="registros"> REGISTROS </a>
                    </li>

                </ul>
            </div>
        </div>
        <div>
            <a class="navbar-brand" href="">
                <img src="usuario.png" style="width: 40px; height: 40px;" alt="">
            </a>
        </div>
      </nav>
      <!-- FIN NAV-->
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Datos de la Sala</h4>
          </div>
          <div class="card-body">
            
              <div class="form-group">
                
                  <%  if(sala){%>

                    <input type="text" value="<%= sala.sala_id%>" id="idsala" name="idsala" hidden><br>
                    <label> NUMERO DE LA SALA <%= sala.numero_sala %>  </label><br>
                    <label id="estadini"> ESTADO DE LA SALA <%= sala.estado_id %> </label><br>
                    <label> CAPACIDAD DE LA SALA <%= sala.capacidad %>  </label>


                     <script>
                        const paginaEstado = function(){

                          window.open('/cambioestado/<%= sala.numero_sala  %>', '_blank');
                        }
                    </script>

                  <%  }%>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Formulario de Ingreso</h4>
          </div>
          <div class="card-body">


            <form >
              <div class="form-group">

                <label for="rut">RUT</label>
                <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese el rut" required>

              </div>
              <div id="verificacionmsg"></div>
              <button type="button" onclick="addelement();" class="btn btn-primary">Agregar</button>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Alumnos Ingresados </h4>
          </div>
          <div class="card-body">
            
            <form method="POST" action="/GuardarSolicitud">

              <%  if(sala){%>

                <input type="text" value="<%= sala.sala_id%>" id="idsala" name="idsala" hidden><br>

              <%  }%>

              <div id="resultado">

              </div>

              <input type="text" value="" id="contenedordatos" name="contenedordatos" >
              <br>
              <button onclick="paginaEstado()" type="submit" class="btn btn-primary mt-2 ">Generar Solicitud</button>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>





    <!--Script para refireccionar a /view registro finalizado, y tambien para abrir una pestaña aparte donde se ejecuta la funcion
  que hace automatico el cambio de estado de la sala (como para simular un servidor)-->



  <!-- Incluir los scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</body>

</html>
