<!DOCTYPE html>
<html lang="es">
  
<head>
  <meta charset="UTF-8">
  <title>Formulario Bootstrap</title>
  <!-- Incluir los estilos de Bootstrap -->
  <script>


var ruts = [];

function addelement(){

    let rut = document.getElementById('rut').value;
    let rutinput = document.getElementById('rut');
    ruts.push(rut);
    rutinput.value = "";

    let resultado = document.getElementById('resultado');
    resultado.innerHTML = '';
    var cont = 1;

    for( const ruta of ruts){


        let datoparrafo = document.createElement('input');
        let pretext = document.createElement('li');
        pretext.className = 'list-group-item';
        datoparrafo.style.border = 'none';
        pretext.innerText = cont + '. Datos de ingresante: '
        datoparrafo.value = ruta;
        cont = cont + 1;

        resultado.appendChild(pretext).appendChild(datoparrafo);

    }

    let container = document.getElementById('contenedordatos');
    container.value = ruts;

}

  </script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
</head>
<body>

      <!-- INICIO NAV-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">SALAS DE ESTUDIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav px-5">

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/"> INICIO </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="registros"> REGISTROS </a>
                    </li>

                </ul>
            </div>
        </div>
        <div>
            <a class="navbar-brand" href="">
                <img src="usuario.png" style="width: 40px; height: 40px;" alt="">
            </a>
        </div>
      </nav>
      <!-- FIN NAV-->

      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-lg-3 col-md-12"> 
            <div class="card">
              <div class="card-header">
                <h4 class="mb-0">Datos de la Sala</h4>
              </div>
              <div class="card-body">
                  <div class="form-group">
                      <%  if(sala){%>
                        <input type="text" value="<%= sala.sala_id%>" id="idsala" name="idsala" hidden><br>
                        <H5 class="modal-title"> | Número de la sala: <%= sala.numero_sala %>  </H5> 
                        <!-- <span><i class="fa-solid fa-arrow-down-1-9 fa-xl" > </i></span> -->
                        <hr>
                        <label id="estadini" hidden> ESTADO DE LA SALA <%= sala.estado_id %> </label><br>
                        <!-- <i class="fa-solid fa-users fa-xl"> </i> -->
                        <H5 class="modal-title">| CAPACIDAD DE LA SALA <%= sala.capacidad %>  </H5> 
                        <script>
                            const paginaEstado = function(){
    
                              window.open('/cambioestado/<%= sala.numero_sala  %>', '_blank');
                            }
                        </script>
                      <%  }%>
              </div>
            </div>
            </div>
          </div>
      
          <div class="col-lg-6 col-md-6"> 
            <div class="card">
              <div class="card-header">
                <h4 class="mb-0">Formulario de Ingreso</h4>
              </div>
              <div class="card-body">
                <h5 class="card-title">ESCANEAR QR CEDULA DE IDENTIDAD</h5>
                <div id="qr-reader"> </div>
                
                <HR></HR>

                <div class="row">
                      <div style="width: 100%" id="reader">
                      </div>
                </div>

                <div class="row" style="padding:30px;">
                    <div id="result"></div>
                </div>



                <hr>
                <h5 class="card-title">INGRESO MANUAL DE RUT</h5>
                <hr>

    
                  <div class="form-group">
    
                    <label for="rut">RUT</label>
                    <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese el rut" required>
    
                  </div>

                  <div id="verificacionmsg"></div>
                  <button type="button" onclick="addelement();" class="btn btn-primary btn-block">Agregar</button>
    
              </div>
            </div>
          </div>
      
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="mb-0">Alumnos Ingresados </h4>
              </div>
              <div class="card-body">
                
                <form action="/GuardarSolicitud" method="POST">
    
                  <%  if(sala){%>
    
                    <input type="text" value="<%= sala.sala_id%>" id="idsala" name="idsala" hidden><br>
    
                  <%  }%>
    
                  <div id="resultado">
             
                  </div>
    
                  <input type="text" value="" id="contenedordatos" name="contenedordatos"  hidden>
                  <br>
                  <button onclick="paginaEstado()" type="submit" class="btn btn-primary mt-2 btn-block">Generar Solicitud</button>
                </form>
    
    
              </div>
            </div>

        </div>
      </div>
      </div>


    <!--Script para refireccionar a /view registro finalizado, y tambien para abrir una pestaña aparte donde se ejecuta la funcion
  que hace automatico el cambio de estado de la sala (como para simular un servidor)-->



  <!-- Incluir los scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

      
<script type="text/javascript">

  var ruts = [];


  function obtenerRUN(url) {
    const regex = /RUN=([^&]*)/;
    const match = url.match(regex);
    if (match) {
      return match[1];
    } else {
      return null;
    }
  }

  function onScanSuccess(qrCodeMessage) {

      const rutovich = obtenerRUN(qrCodeMessage);
      let container = document.getElementById('contenedordatos');
      ruts.push(rutovich);

      document.getElementById('result').innerHTML = '<span class="result"> Se ha añadido el rut: '+rutovich+'</span>';

      container.value = ruts;


      let resultado = document.getElementById('resultado');
      resultado.innerHTML = '';
      var cont = 1;

      for( const ruta of ruts){


          let datoparrafo = document.createElement('input');
          let pretext = document.createElement('li');
          pretext.className = 'list-group-item';
          datoparrafo.style.border = 'none';
          pretext.innerText = cont + '. Datos de ingresante: '
          datoparrafo.value = ruta;
          cont = cont + 1;

          resultado.appendChild(pretext).appendChild(datoparrafo);

      }



  }

  function onScanError(errorMessage) {
    //handle scan error
  }

  var html5QrcodeScanner = new Html5QrcodeScanner(
      "reader", { fps: 10, qrbox: 250 });
  html5QrcodeScanner.render(onScanSuccess, onScanError);

</script>

</body>

</html>
