<!DOCTYPE html>
<html lang="es">
<head>

  <script>
    var ruts = [];
function addelement(){
    let rut = document.getElementById('rut').value;
    let rutinput = document.getElementById('rut');
    ruts.push(rut);
    rutinput.value = "";
    let resultado = document.getElementById('resultado');
    resultado.innerHTML = '';
    var cont = 1;
    for( const ruta of ruts){
        let datoparrafo = document.createElement('input');
        let pretext = document.createElement('li');
        pretext.className = 'list-group-item';
        datoparrafo.style.border = 'none';
        pretext.innerText = cont + '. Datos de ingresante: '
        datoparrafo.value = ruta;
        cont = cont + 1;
        resultado.appendChild(pretext).appendChild(datoparrafo);
    }
    let container = document.getElementById('contenedordatos');
    container.value = ruts;
}
  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
  <title>Sala de estudio</title>
</head>
<body style="background-color: white;">

    <!-- INICIO NAV-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">SALAS DE ESTUDIO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">

              <ul class="navbar-nav px-5">

                  <li class="nav-item mx-2">
                      <a class="nav-link" href="/inicio"> INICIO </a>
                  </li>

                  <li class="nav-item mx-2">
                      <a class="nav-link" href="registros"> REGISTROS </a>
                  </li>

                  <li class="nav-item mx-2">
                      <a class="nav-link" href="/crudusuario"> USUARIOS </a>
                  </li>

              </ul>
          </div>
      </div>
      <div>

          <a class="navbar-brand" href="">
              ADMIN
          </a>
      </div>
    </nav>
    <!-- FIN NAV-->

      <div class="container-fluid mt-3">
        <div class="row">

          <div class="col-lg-3 col-md-12 "> 
            
            <div class="card" >
              <div class="card-header" style="background-color: #5D4037; color: white;">
                <h4 class="mb-0" >Datos de la Sala</h4>
              </div>
              <div class="card-body">
                  <div class="form-group">
                      <%  if(sala){%>
                        <input type="text" value="<%= sala.sala_id%>" id="idsala" name="idsala" hidden><br>
                        <H5 class="modal-title"> | Número de la sala: <%= sala.numero_sala %>  </H5> 
                        <!-- <span><i class="fa-solid fa-arrow-down-1-9 fa-xl" > </i></span> -->
                        <hr>
                        <label id="estadini" hidden> ESTADO DE LA SALA <%= sala.estado_id %> </label><br>
                        <!-- <i class="fa-solid fa-users fa-xl"> </i> -->
                        <H5 class="modal-title">| Capacidad de la sala: <%= sala.capacidad %>  </H5> 
                        <script>
                            const paginaEstado = function(){
    
                              window.open('/cambioestado/<%= sala.numero_sala  %>', '_blank');
                            }
                        </script>
                      <%  }%>
              </div>
            </div>
            </div>
          </div>
      
          <div class="col-lg-6 col-md-6 "> 

            <div class="card">

              <div class="card-header" style="background-color: #5D4037; color: white;">
                <h4 class="mb-0">Formulario de Ingreso</h4>
              </div>

              <div style="padding: 4%;">
                  <a class="btn" style="background-color: #607D8B; color: white; width: 100%;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Registrar Mediante Escaneo QR
                  </a>

                  <a class="btn mt-2" style="background-color: #607D8B; color: white; width: 100%;" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Registrar Mediante  Ingreso Manual
                  </a>

              </div>



            


            <div class="row mt-2">
              <div class="collapse" id="collapseExample">
                <div class="card-body">
                  <h5 class="card-title">ESCANEAR QR CEDULA DE IDENTIDAD</h5>
                  <HR></HR>
                  <div style="padding: 1%;">

                    <div id="qr-reader"> </div>

                    <div class="row">
                          <div style="width: 100%" id="reader"></div>
                    </div>

                    <div class="row" style="padding:30px;">
                        <div id="result"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

                <div class="collapse" id="collapseExample2">
                <div class="card"> 
                  <div class="card-body">
                  <h5 class="card-title">INGRESO MANUAL DE RUT</h5>
                  <hr>
                    <div class="form-group">
      
                      <label for="rut">RUT</label>
                      <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese el rut" required maxlength="10">
                      <span id="validacion-rut"></span>
      
                    </div>

                    <div id="verificacionmsg"></div>
                    <button type="button" onclick="addelement();" id="submit-btn" class="btn mt-4 btn-block" style="background-color: #607D8B; color: white; width: 100%;">Agregar</button>
                  </div>
                </div>
                </div>
            </div>

          </div>
      
          <div class="col-lg-3 col-md-6 ">
            <div class="card">
              <div class="card-header" style="background-color: #5D4037; color: white;">
                <h4 class="mb-0">Alumnos Ingresados </h4>
              </div>
              <div class="card-body">
                
                <form action="/GuardarSolicitud" method="POST">
    
                  <%  if(sala){%>
    
                    <input type="text" value="<%= sala.sala_id%>" id="idsala" name="idsala" hidden><br>
    
                  <%  }%>
    
                  <div id="resultado">
                    
                  </div>
    
                  <input type="text" value="" id="contenedordatos" name="contenedordatos"  hidden>
                  <br>
                  <button onclick="paginaEstado()" type="submit" class="btn mt-2 btn-block" style="background-color: #607D8B; color: white; width: 100%;">Generar Solicitud</button>
                </form>
    
    
              </div>
            </div>

          </div>
        
        </div>
      </div>


    <!--Script para refireccionar a /view registro finalizado, y tambien para abrir una pestaña aparte donde se ejecuta la funcion
  que hace automatico el cambio de estado de la sala (como para simular un servidor)-->



  <!-- Incluir los scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

      
<script type="text/javascript">

  var ruts = [];


  function obtenerRUN(url) {
    const regex = /RUN=([^&]*)/;
    const match = url.match(regex);
    if (match) {
      return match[1];
    } else {
      return null;
    }
  }

  function onScanSuccess(qrCodeMessage) {

      const rutovich = obtenerRUN(qrCodeMessage);
      let container = document.getElementById('contenedordatos');
      ruts.push(rutovich);

      document.getElementById('result').innerHTML = '<span class="result"> Se ha añadido el rut: '+rutovich+'</span>';

      container.value = ruts;


      let resultado = document.getElementById('resultado');
      resultado.innerHTML = '';
      var cont = 1;

      for( const ruta of ruts){


          let datoparrafo = document.createElement('input');
          let pretext = document.createElement('li');
          pretext.className = 'list-group-item';
          datoparrafo.style.border = 'none';
          pretext.innerText = cont + '. Datos de ingresante: '
          datoparrafo.value = ruta;
          cont = cont + 1;

          resultado.appendChild(pretext).appendChild(datoparrafo);

      }



  }

  function onScanError(errorMessage) {
    //handle scan error
  }

  var html5QrcodeScanner = new Html5QrcodeScanner(
      "reader", { fps: 10, qrbox: 250 });
  html5QrcodeScanner.render(onScanSuccess, onScanError);

  //VALIDADOR DE RUT

let rutInput = document.getElementById('rut');
let submitBtn = document.getElementById('submit-btn');
let validacionRut = document.getElementById('validacion-rut');

rutInput.addEventListener('input', function() {

  let rut = this.value;

  if (/^[0-9]{7,8}-[0-9Kk]{1}$/.test(rut) && validarRut(rut) && !esRutConDigitosIguales(rut)) {
    submitBtn.disabled = false;
    validacionRut.innerHTML = '<i class="fas fa-check-circle" style="color: #21252B;"></i>';
} else {
    submitBtn.disabled = true;
    validacionRut.innerHTML = '<i class="fas fa-times-circle" style="color: #21252B;"></i>';
}
});

function validarRut(rut) {

  

    let [numero, digitoVerificador] = rut.split('-');
    let suma = 0;
    let multiplicador = 2;

    for (let i = numero.length - 1; i >= 0; i--) {
      suma += multiplicador * numero.charAt(i);
      multiplicador = multiplicador === 7 ? 2 : multiplicador + 1;
    }

    let resto = suma % 11;
    let digitoCalculado = 11 - resto;
    if (digitoCalculado === 11) {
      digitoCalculado = '0';
    } else if (digitoCalculado === 10) {
      digitoCalculado = 'K';
    }

    return digitoCalculado.toString() === digitoVerificador.toUpperCase();
  }

  function esRutConDigitosIguales(rut) {
    let [numero] = rut.split('-');
    return numero.split('').every(d => d === numero[0]);
}


</script>

</body>

</html>
